---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="https://scholar.google.com/citations?user=64oGR1MAAAAJ">my Google Scholar profile</a>.</div>
  <div class="wordwrap"><sup>#</sup> indicates the co-first authors.</div>
  <div class="wordwrap"><sup>*</sup> indicates the corresponding author.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

<ul class="publication-list">
  <h2>2025</h2>
  <li>
    <span> 
      <b>
        "Detecting Various DeFi Price Manipulations with LLM Reasoning"
      </b>
    </span>
    <ul>
      <li>
        <img src="https://img.shields.io/badge/CCF-A-red?style=flat-square" alt>
        <a href="https://conf.researchr.org/details/ase-2025/ase-2025-papers/187/Detecting-Various-DeFi-Price-Manipulations-with-LLM-Reasoning">
            <img src="https://img.shields.io/badge/ASE-2025-purple?style=flat-square" alt>
        </a>
        <a href="https://github.com/AIS2Lab/DeFiScope">
            <img src="https://img.shields.io/badge/Open-Source-blue?style=flat-square" alt>
        </a>
      </li>
      <li>
        <b>Juantao Zhong<sup>#</sup></b>
        ", Daoyuan Wu<sup>#</sup>, Ye Liu<sup>*</sup>, Maoyi Xie, Yang Liu, Yi Li, and Ning Liu"
      </li>
      <li>
        <em>
          Proceedings of the 40th IEEE/ACM International Conference on Automated Software Engineering
        </em>
      </li>
    </ul>
  </li>
</ul>